*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: Lato;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  margin: 0;
  padding: 0;
  color: #000b0a;
  font-family: Brown;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.8px;
}

body > p:first-child, body p+p, .header{
  visibility: hidden;
}
@media(max-width:1000px){
  body p+p, .header{
    visibility:visible;
  }
  body p + p {
    margin: 0 auto;
    width: 375px;
  }
  .main {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 1294px;
    flex-shrink: 0;
    background-color: rgba(46, 196, 182, 0.04);
    border: 1px solid;
    margin: 0 auto;
  }
  .header {
    display: flex;
    gap: 219.5px;
    justify-content: center;
  }
  .time{
    margin-top: 10px;
  }
  div.icon {
    padding-top: 12px;
  }
  .introduction {
    min-width: 327px;
    margin-inline: 24px;
    margin-block-end: 40px;
  }
  div.image {
    width: 38.667px;
    height: 40px;
    margin-top: 30px;
  }
  h1 {
    padding-block: 14px 2px;
    font-weight: 700;
    font-size: 1.8rem;
  }
  .introduction p {
    color: var(--CL-Grey, #737373);
    font-weight: 300;
    line-height: 25px;
  }
  .registeration_form {
    min-width: 327px;
    max-height: 870px;
    margin-inline: 24px;
    margin-block: 40px, 24px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
    color: var(--Text-Headings, #011c34);
    font-family: Sofia Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;

    line-height: normal;
    letter-spacing: 0.1px;
  }
  div.myname {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  input:hover,
  select:hover {
    border-color: #2ec4b6;
  }
  button:hover {
    border-color: #000;
  }
  input#tolu {
    border-color: #2ec4b6;
  }
  input,
  select,
  button {
    width: 290px;
    height: 48px;
    border-radius: 2px;
    border: 1px solid var(--CL-Gray-3, #f0f0f0);
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    padding-bottom: 10px;
  }
  div#password {
    padding-top: -6px;
  }
  input::placeholder {
    color: #737373;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  option:disabled {
    color: #737373;
    font-size: 10px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  button {
    margin-block-start: 20px;
    box-shadow: (0px 10px 40px rgba(0, 0, 0, 0.1));
    background-color: #2ec4b6;
    border: 1px solid #fff;
  }
  button span {
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-decoration: none;
  }
  div.policy {
    margin-top: 54px;
    padding-inline: 29px 30px;
    color: #000;
    font-size: 0.873rem;
    font-weight: 400;
    line-height: 1.563em;
    text-align: center;
  }

  span {
    color: #2ec4b6;
    font-size: 0.873rem;
    font-weight: 500;
    line-height: 1.563em;
    text-decoration-line: underline;
  }

}
@media(min-width:1000px){
  body p:first-child{
    visibility: visible;
  }
  .main{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    max-height: 840px;
    border: 1px solid;
    background-color: rgba(46, 196, 182, 0.04);
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
    border: 1px solid;
    padding-inline: 140px;
}
div.introduction {
  max-width: 460px;
  max-height: 275px;
  flex-shrink: 0;
  margin-block: 205px 360px;
}
div.registeration_form {
  max-width: 580px;
  max-height: 679px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
  margin-block: 81px 80px;
  font-family: Sofia Pro;
  font-size: 1rem;
  line-height: normal;
}
h1 {
  padding-block: 50px 20px;
  color: #000b0a;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.8px;
}
div.introduction p {
margin-right: 120px;
color: var(--CL-Grey, #737373);
font-family: Brown;
font-weight: 400;
line-height: 25px; 
}
form {
  display: flex;
  flex-direction: column;
}
div.name,
div.namesis {
  display: flex;
  gap: 25px;
}
div.myname {
  display: flex;
  flex-direction: column;
}
input,
select {
  width: 238px;
  height: 48px;

  border-radius: 2px;
  border: 1px solid #f0f0f0;
}
select#activity,
input#passwd {
  width: 500px;
}
label {
  color: #011c34;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  padding-block-end: 10px;
}
div.name {
  padding-inline: 40px;
}
div.myname {
  padding-block-end: 30px;
}
div.namesis,
div.button,
.policy {
  padding-inline: 40px;
  padding-block-start: 30px;
}
button {
  width: 500px;
  height: 48px;
  box-shadow: (0px 10px 40px rgba(0, 0, 0, 0.1));
  background-color: #2ec4b6;
  border: 1px solid #fff;
  margin-block-start: -30px;
}
button span {
  color: var(--Basic-100, #fff);
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.policy {
  padding-inline: 58px 59px;
  padding-block: 16px 40px;
  color: #000;
  font-size: 0.873rem;
  font-weight: 400;
  line-height: 1.563em;
  text-align: center;
  padding-bottom: 40px;
}
.policy span {
  color: #2ec4b6;
  font-size: 0.873rem;
  font-weight: 500;
  line-height: 1.563em;
  text-decoration-line: underline;
}

  }
  
